<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Hello! My name is Ian and I'm a software and data engineer with a passion for building solid, reliable solutions. I enjoy working end-to-end — from writing neat backend code to digging into data and uncovering insight that leads to wiser decisions. I'm content with lots of different tools and languages, and I'm never not up for something new or the possibility of doing things differently. Whether creating APIs, streamlining data workflows, or enhancing performance, my goal is to create systems that are efficient and simple to use.
            </p>
        </div>
    </section>
</div>
